node_modules
npm-debug.log
config/firebase/integration.js
config/firebase/production.js
config/firebase/staging.js
config/firebase/service-keys
config/firebase/secrets.tar
src/index.html
src/static
public
.DS_Store
.screenrc
