.content {
    clear: both;
    padding-top: 20px;
}

.active {
    color: red;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    float: left;
    margin-right: 12px;
}